<article class="archive__item" data-blog-entry data-blog-tags="{{ include.post.tags | jsonify | escape }}">
  <h3 class="archive__item-title"><a href="{{ base_path }}{{ include.post.url }}">{{ include.post.title | escape }}</a></h3>
  <p class="page__date"><span>{{ locale.blog_date_label }} <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: locale.blog_date_format }}</time></span>{% if include.post.last_modified_at %}<span>{{ locale.blog_updated_label }} <time datetime="{{ include.post.last_modified_at | date_to_xmlschema }}">{{ include.post.last_modified_at | date: locale.blog_date_format }}</time></span>{% endif %}</p>
  {% if include.post.excerpt %}<div class="archive__item-excerpt">{{ include.post.excerpt | markdownify }}</div>{% endif %}
  {% if include.post.tags.size > 0 %}
    <ul class="blog-post-tags" aria-label="{{ locale.blog_tags_label }}">
      {% for tag in include.post.tags %}<li><a href="{{ base_path }}{{ page.url }}?tag={{ tag | url_encode }}" data-blog-tag="{{ tag | escape }}">#{{ tag | escape }}</a></li>{% endfor %}
    </ul>
  {% endif %}
</article>
